<!--  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">  -->

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} &larr; {{ page.top }}</title>
   <meta name="author" content="css@cs" />

   <link rel="start" href="/" />

  <!-- 
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  
  {% if page.feed %}
    <link rel="alternate" type="application/atom+xml" href="{{ page.feed }}" title="RSS feed" />
  {% endif %}
-->

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="files/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="files/css/screen.css" type="text/css" />

   <!-- image effects CSS, from here
   http://stackoverflow.com/questions/7273927/image-greyscale-with-css-re-color-on-mouse-over
    -->
   <link rel="stylesheet" href="files/css/img_grayscale.css" type="text/css" />

</head>

<body id="{{ page.section }}">
<div id="site"> <!-- note this div doesn't closer until footer.html -->
